//color
$font-xxl-color: #18073a;
$vertical-line-color: #8b829b;
$gray-para-color: #9b96a3;
$bag-icon-bgColor: #f1c82c;
$star-linear-bgColor: linear-gradient(to right, #fafafc, #8678b4);
$heart-icon-bgColor: #f1eeee;
$color-desginLable: #dfdde7;
$bg-darkBlue: #2e2f45;
$color-lightblack: #242424;
$bg-yellow-color: #f9da8c;
$third-section-linearColor: linear-gradient(to right, #d2a6f1, #ffffff);
$third-circle-color: #d2a6f1;
$review-border-color: #8d8d8f;
$search-input-color: #fcfcfc;
$color-heading: #18073a;
$color-para: #f3f3f4;
$color-white: #fff;
$color-black: black;
$btn-linear-color: linear-gradient(45deg, #ff7153, #ff4c25);
$btn-sectionLinear-color: linear-gradient(45deg, #fec324, #feb12c);

//font-fmaily
$font-family-Ai: var(--Al_Veshion_PersonalUseOnly);
$font-family-popins: var(--Poppins_Regular);
$font-family-Exo_Regular: var(--Exo_Regular);

//font-size
$font-xxl: 5.3rem;
$font-xl: 3.3rem;
$font-l: 2.5rem;
$font-m: 2rem;
$font-s: 1.2rem;
$font-para: 0.8rem;
